.advantage {
  outline: 2px solid rgba(pink, 0.5);
  outline-offset: -2px;
}

.advantage__title {
  color: $black;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantage__text {
  color: $grey-blue;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
