.exploration {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;
    grid-template-columns: 50%;
    justify-content: end;
    grid-auto-rows: min-content;
    padding-top: 54px;
    padding-bottom: 30px; //непонятно по макету
    min-height: 340px;
    color: $grey-blue;
    background-color: $white;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 559px;
    padding-bottom: 67px;
  }
}

.exploration__svg-timer {
  position: absolute;
  top: 54px;
  left: 20px;

  width: 238px;
  height: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px; //примерно, потом нужно проверить по Pixel Perfect
  box-sizing: border-box;

  background-image: url("../../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 238px 276px;

  @media (min-width: $desktop-width) {
    left: 130px;

    width: 298px;
    height: 345px;
    padding-top: 50px;
    background-size: 298px 345px;
  }
}

.exploration__svg-timer-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 16px solid $pink;
  border-radius: 50%;
  box-sizing: border-box;

  font-size: 96px;
  line-height: 163px;
  color: $pink;
  font-weight: bold;

  @media (min-width: $desktop-width) {
    width: 250px;
    height: 250px;

    font-size: 120px;
    line-height: 163px;

  }
}

.exploration__title {
  margin: 55px 0 24px;

  font-size: 30px;
  line-height: 36px;
  color: $black;
  font-weight: bold;

  @media (min-width: $desktop-width) {
    margin: 75px 0 37px;
    line-height: 30px;
    text-align: center;
  }
}

.exploration__text {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 30px;
  }
}

.exploration__link {
  font-size: 14px;
  line-height: 24px;
  color: $pink;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
