.filter-photo {
  background-color: $back-pale-grey;
  color: $grey-blue;
}

.filter-photo__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: $white;
}

.filter-photo__filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-photo__btn-post,
.filter-photo__btn-cancel {
  color: $pink;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $pink;
  border-radius: 30px;
  background-color: transparent;
}

.filter-photo__btn-cancel {
  color: $grey-blue;
  border-color: $grey-blue;
  opacity: 0.1;
}
