.main-nav {
  display: none;
  background-color: $grey-blue;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: 2px dashed red;
    outline-offset: -2px;
  }
}
