.prices {
  padding: 100px 0 50px;
  color: $grey-blue;

  background-image: url("../../img/bg-triangle-white.svg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: $back-pale-grey;

  outline: 2px solid red;
  outline-offset: -2px;

  @media (min-width: $tablet-width) {
    padding-left: var(--wrapper-pad);
    padding-right: var(--wrapper-pad);
  }

}

.prices__wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  outline: 1px solid red;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.prices__table {
  width: calc(300% - 40px);
  overflow: hidden;
  box-sizing: border-box;
  border-collapse: collapse;

  th,
  td {
    width: 33%;
    border: 2px solid $grey;
  }

  &--slide-1 {
    transform: translateX(0%);
    transition: 0.5s;
  }

  &--slide-2 {
    transform: translateX(-33%);
    transition: 0.5s;
  }

  &--slide-3 {
    transform: translateX(-66%);
    transition: 0.5s;
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    th, td {
      width: 25%;
    }
  }
}

.prices__table-head th:not(:first-child) {
  background-color: $grey-blue;
}

.prices__slider-btns {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
